/* You can add global styles to this file, and also import other style files */
* {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    transition: .3s all;

}
html,body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: #707070;
}
// Clases de utilidad
.my-{
    &1{margin: 1rem 0;}
    &2{margin: 2rem 0;}
    &3{margin: 3rem 0;}
    &4{margin: 4rem 0;}
    &5{margin: 5rem 0;}
}
.mb-{
    &1{margin-bottom: 1rem;}
    &2{margin-bottom: 2rem;}
    &3{margin-bottom: 3rem;}
    &4{margin-bottom: 4rem;}
    &5{margin-bottom: 5rem;}
}
.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.btn-purple{
    border: .5px solid #7104FF;
    color: #7104FF !important;
    background: #7104FF !important;
    color: white !important;
    transition: .3s all;
    cursor: pointer;
   
}

.btn{
    padding: .8rem 4rem;
    border-radius: 12px;
    box-sizing: border-box;
    transition: .3s all;
    background: transparent;
}
.btn-logout{
    
    border: .5px solid crimson;
    background: crimson !important;
    color: crimson !important;
    cursor: pointer;
    color: white !important;
   
}
.bg-of-path{
    width: 100%;
    height: 80vh;
    background: white;
    z-index: 20;
    position: absolute;
}
.bg-path{
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0px;
    left: 0px;
    clip-path: polygon(0 0, 0 66%, 100% 0);
   
}

.bg-color-purple{background: #967DFF;}
.bg-color-yellow{background: #E2FF80;}
.bg-color-pink{background: #FF7DBE;}

.bg-light{background: #ffffff;}

main{
    width: 100%;
    min-height: 100vh;
}
.dark-theme{
    transition: .3s all;
    background: black;
    color: white;
}